{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
<h1> Agence Mortafiume </h1>
<p>L'agence Mortafiume propose de nombreux services immobiliers à l’intention des vendeurs, des acheteurs, des locataires , des bailleurs, des investisseurs et des copropriétaires. La mission de notre réseau immobilier est de vous aider à réaliser vos projets dans les meilleures conditions et de vous accompagner à chaque étape.</p>
</div>
{% endblock %}